$themeColor: rgba(152, 57, 255, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  section.logo {
    display: flex;
    align-items: center;

    h1 {
      font-size: 2.5rem;
      flex: 2 1 400px;
    }

    img {
      width: 6vw;
      height: 6vw;
    }
  }

  nav {
    flex: 5 1 500px;
    padding: 0 2rem 0 8rem;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;

      li {
        a {
          color: black;
          text-decoration: none;
          font-size: 1.2rem;
          transition: all 0.2s ease;
          padding-bottom: 0.3rem;

          &:hover {
            color: rgb(214, 179, 214);
            border-bottom: 3px solid $themeColor;
          }
        }
      }
    }
  }
}

main {
  section.background-img {
    min-height: 70vh;
    background-image: url(../p2-0資源包/images/日本櫻花.jpg);
    background-size: cover;
    background-position: center;
    transition: all 0.75s ease;
    position: relative;
    z-index: 0;

    div.filter {
      min-height: 70vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    h3 {
      color: white;
      font-size: 2.5rem;
    }
  }
}
