$themeColor: rgba(152, 57, 255, 0.5);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  img.fixed-image {
    min-height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -5;
    bottom: 0;
    left: 0;
  }

  header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 10px 6px -6px #777;

    section.logo {
      display: flex;
      align-items: center;

      h1 {
        font-size: 2.5rem;
        flex: 2 1 400px;
      }

      img {
        width: 6vw;
        height: 6vw;
      }
    }

    nav {
      flex: 5 1 500px;
      padding: 0 3rem;

      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;

        li {
          a {
            color: black;
            text-decoration: none;
            font-size: 1.2rem;
            transition: all 0.2s ease;
            padding-bottom: 0.3rem;

            &:hover {
              color: rgb(214, 179, 214);
              border-bottom: 3px solid $themeColor;
            }
          }
        }
      }
    }
  }

  main {
    section.background-img {
      min-height: 70vh;
      //background-image: url(../p2-0資源包/images/日本櫻花.jpg);
      background-size: cover;
      background-position: center;
      transition: all 0.75s ease;
      position: relative;
      z-index: 0;

      display: flex;
      justify-content: center;
      align-items: center;

      div.filter {
        min-height: 70vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }

      h3 {
        color: white;
        font-size: 2.5rem;
        text-align: center;
      }
    }

    section.info-circle {
      background-color: white;
      padding: 2rem 1rem;

      h3 {
        text-align: center;
        font-size: 2rem;
      }

      div.circles {
        display: flex;
        flex-wrap: wrap;
        // border: 3px solid black;
        justify-content: center;

        div.circle {
          padding: 1rem;
          flex: 0 1 250px;
          // border: 3px solid red;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 80%;
            border-radius: 50%;
            transition: all 0.1s ease-in;
            padding: 0.3rem;
            &:hover {
              border: 3px solid $themeColor;
              // already has padding inside the border, so it will become smaller while hovering
            }
          }

          p {
            text-align: center;
          }
        }
      }
    }

    section.empty-container {
      min-height: 70vh;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        font-size: 2rem;
        color: white;
      }
    }

    section.google-map {
      background-color: white;
      padding: 2rem 1rem;
      text-align: center;

      h3 {
        font-size: 2.5rem;
      }

      p {
        font-size: 1.25rem;
        margin: 1rem;
      }

      iframe {
        width: 100%;
        height: 40vh;
      }
    }
  }
}

footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;

  section.logo {
    img {
      width: 20vw;
    }

    h3 {
      font-size: 2.5rem;
    }
  }

  section.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    a {
      img {
        width: 5vh;
        margin: 0rem 1rem;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  body {
    header {
      flex-direction: column;
      section.logo {
        img {
          width: 60.57px;
          height: 60.57px;
        }
      }
      nav {
        flex: none;
        width: 100%;

        ul {
          flex-direction: column;
          li {
            padding: 0.5rem;
          }
        }
      }
    }
  }
}
